body{
  background-color: blueviolet;

}

.div{
  margin: 25%;
  margin-top: 10%;
  background-color: rgb(188, 117, 255);
  padding: 100px;
  width: 450px;
  height: 250px;
  display: flexbox;
  border-radius: 25px;
  border: solid 6px;
  border-color: rgb(97, 11, 177);
}
h1{
  color: yellow;
  
}
button{
  padding: 10px;
  margin: 5px;
  background-color: rgb(224, 191, 255);
  border: solid 2px;
  border-color: blueviolet;
  border-radius: 5px;
  color:blueviolet;

}
button:hover{
color: yellow;
  background-color: blueviolet;
}

.div1{
  margin-left: -25px;
  display: flex;
}
.div1 h1{
margin: 24px;
}
#text4{
  position: relative;
  margin-top:-20px ;
}